/* Admin Header */
.sitewide_sales_admin .sitewide_sales_banner {
    display: grid;
    grid-template-areas: "logo meta";
    grid-template-columns: 360px auto;
}
.sitewide_sales_admin .sitewide_sales_banner a {
	cursor: pointer;
}
.sitewide_sales_admin .sitewide_sales_banner .sitewide_sales_logo img {
    height: auto;
    width: 100%;
}
.sitewide_sales_admin .sitewide_sales_banner .sitewide_sales_meta {
    align-self: center;
    grid-area: meta;
    font-size: 16px;
    line-height: 1.5;
}
.sitewide_sales_admin .sitewide_sales_banner .sitewide_sales_meta .sitewide_sales_version {
    color: #6991ac;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px 0px 2px;
}
.sitewide_sales_admin .sitewide_sales_banner .sitewide_sales_meta a {
	border-left: 1px solid #CCC;
	color: #6991ac;
	padding: 5px 10px;
}
.sitewide_sales_admin .sitewide_sales_banner .sitewide_sales_meta a.sws_license_tag {
	font-weight: bold;
	text-decoration: none;
}
.sitewide_sales_admin .sitewide_sales_banner .sitewide_sales_meta a.sws_license_tag:before {
	display: inline-block;
	font: 400 20px/1 dashicons;
	left: 0;
	position: relative;
	text-decoration: none;
	vertical-align: bottom;
}
.sitewide_sales_admin .sitewide_sales_banner .sitewide_sales_meta a.sws_license_tag.sws_license_tag-valid {
	color: rgb( 70, 180, 80 );
}
.sitewide_sales_admin .sitewide_sales_banner .sitewide_sales_meta a.sws_license_tag.sws_license_tag-valid:before {
	content: "\f147";
}
.sitewide_sales_admin .sitewide_sales_banner .sitewide_sales_meta a.sws_license_tag.sws_license_tag-invalid {
	color: #AAA;
}
.sitewide_sales_admin .sitewide_sales_banner .sitewide_sales_meta a.sws_license_tag.sws_license_tag-invalid:before {
	content: "\f335";
}
.sitewide_sales_admin .sitewide_sales_icon {
    max-width: 200px;
    height: auto;
}

/* Admin Messages */
.sitewide_sales_message,
.form-table td p.sitewide_sales_message {
	background-color: #f7fcfe;
    border-left: 4px solid #00a0d2;
    margin-bottom: 1em;
    margin-right: 1.5em;
    padding: 15px;
}
.sitewide_sales_message.sitewide_sales_success,
.form-table td p.sitewide_sales_message.sitewide_sales_success {
    border-left-color: #4ab866;
    background-color: #eff9f1;
}
.sitewide_sales_message.sitewide_sales_error,
.form-table td p.sitewide_sales_message.sitewide_sales_error {
    border-left-color: #d94f4f;
    background-color: #f9e2e2;
}
.sitewide_sales_message.sitewide_sales_alert,
.form-table td p.sitewide_sales_message.sitewide_sales_alert {
    border-left-color: #f0b849;
    background-color: #fef8ee;
}
.sitewide_sales_message.sitewide_sales_success a {
    color: #208A1B;
}
.sitewide_sales_message.sitewide_sales_error a {
    color: #CC0000;
}
.sitewide_sales_message.sitewide_sales_alert a {
    color: #CF8516;
}

/* Sitewide Sales Custom Post Type */
.edit-php.post-type-sitewide_sale .wrap:before,
.post-php.post-type-sitewide_sale .wrap:before,
.post-new-php.post-type-sitewide_sale .wrap:before {
	background-image: url( '../images/Sitewide-Sales.png' );
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 100px;
}
.post-type-sitewide_sale textarea {
	line-height: 1.4;
	resize: vertical;
	width: 88%;
	padding: 1rem;
	min-height: 4rem;
}
.post-type-sitewide_sale .form-table tr th small a {
	font-weight: normal;
} 
.post-type-sitewide_sale #swsales_cpt_publish_sitewide_sale .inside {
	margin: 0;
	padding: 0;
}
.post-type-sitewide_sale #swsales_cpt_publish_sitewide_sale .misc-pub-section {
	padding: 0 12px;
}
.post-type-sitewide_sale .swsales_banner_css_selectors {
	background: aliceblue;
	padding: 1rem;
	width: 77%;
}

/* Documentation Meta Box */
#swsales_documentation.postbox {
	background: #F5F5F5;
}
#swsales_documentation.postbox h2 {
	border-bottom: 1px solid #DDD;
}
#swsales_documentation.postbox ul li {
	margin-bottom: 15px;
}
#swsales_documentation.postbox ul li:last-child {
	margin-bottom: 0;
}

/* Sitewide Sale Reports Styles */
.swsales_reports-box {
	background: #FFF;
	border: 1px solid #CCC;
	margin: 2rem 0;
	padding: 2rem;
	text-align: center;
}
.post-type-pmpro_sitewide_sale .swsales_reports-box {
	border: none;
	margin: 0;
	padding: 1rem 0 0 0;
}
.swsales_reports-box h1.swsales_reports-box-title {
	color: #999;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin: 0;
	padding: 0;
}
.swsales_reports-box hr {
	margin: 2rem 0;
}
.swsales_reports-data {
	display: grid;
	grid-gap: 1rem;
}
.swsales_reports-data-3col {
	grid-template-columns: 1fr 1fr 1fr;
}
.swsales_reports-data-4col {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.swsales_reports-data-section {
}
.swsales_reports-data-section h1 {
	font-size: 30px;
	line-height: 40px;
	margin: 0;
}
@media screen and (max-width: 768px) {
	.swsales_reports-box {
		margin: 0 1rem;
		padding: 1rem;
	}
	.swsales_reports-box hr {
		margin: .5rem 0;
	}
	.swsales_reports-data {
		display: block;
	}
	.swsales_reports-data-section h1,
	.swsales_reports-data-section p {
		display: inline-block;
		font-size: 18px;
	}
	.swsales_reports-data-section br {
		display: none;
	}
	.swsales_reports-data-section h1:after {
		content: ": ";
	}
}

@media screen and (max-width: 782px) {
	body.post-type-pmpro_sitewide_sale .pmpro-new-install { padding: 0; }
	body.post-type-pmpro_sitewide_sale .pmpro-new-install h2 { font-size: 1.4rem; }

	body.post-type-pmpro_sitewide_sale .pmpro-new-install .button-primary,
	body.post-type-pmpro_sitewide_sale .pmpro-new-install .button { display: block; }
}

/* Sitewide Sales About Page */
.sws-wrap {
	font-size:15px;
	margin: 25px 40px 0 20px;
	max-width: 1050px;
	position: relative;
}	
.sws-wrap .sws-text {
    color:#555d66;
}
.sws-wrap h2 {
	font-size: 2.7em;
	font-weight: 300;
	line-height: 1.3;
	margin: 40px 0 .6em;
	text-align: left;
}
.sws-wrap h3 {
	border-top: 1px solid rgba(0,0,0,.1);
	font-size: 1.4em;
	line-height:1.5;
	margin: 1.25em 0 .6em;
	padding-top: 1.25em;
}
.sws-wrap .sws-text p {
	line-height: 1.5;
	font-size:16px;
}
.sitewide_sale_page_sitewide_sales_about .sws-wrap .sitewide_sales_icon {
    margin-top: 20px;
}
.sitewide_sale_page_sitewide_sales_about .sws-wrap ul {
	line-height: 1.5;
	font-size: 16px;
}

/* License Page CSS */
.sitewide_sale_page_sitewide_sales_license h2 {
	text-align: left;
}

.sitewide_sale_page_sitewide_sales_license img.sws_icon{
	height:auto;
	width:250px;
}

@media screen and (max-width: 782px) {
	.sws-wrap .sws-text {
		margin-right: 0;
	}
}
