/**
 * Colors
 * - red: #c93e2c
 * - dark blue: #0c3d54
 * - medium blue: #44738d
 * - light blue: #6991ac
 * - grey: #E7E9EF;
 */

/* Admin Header */
.sitewide_sales_banner {
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	margin-left: -20px;
}
.sitewide_sales_banner_wrapper {
	display: flex;	
	padding: 20px;
}
.sitewide_sales_banner .sitewide_sales_logo {
	align-self: bottom;
	display: block;
	margin-right: 15px;
	padding-top: 5px;
}
.sitewide_sales_banner .sitewide_sales_meta {
	align-self: center;
	font-size: 16px;
}
.sitewide_sales_banner .sitewide_sales_meta .sitewide_sales_version {
	background: #DCDCDE;
	color: #555;
	border-radius: 999px;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 12px;
}
.sitewide_sales_banner .sitewide_sales_meta a {
	display: inline-block;
	margin: 0 0 0 10px;
}
.sitewide_sales_banner .sitewide_sales_meta a.swsales_license_tag {
	font-weight: bold;
	text-decoration: none;
}
.sitewide_sales_banner .sitewide_sales_meta a.swsales_license_tag:before {
	display: inline-block;
	font: 400 20px/1 dashicons;
	left: 0;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
}
.sitewide_sales_banner .sitewide_sales_meta a.swsales_license_tag-valid {
	color: rgb( 70, 180, 80 );
}
.sitewide_sales_banner .sitewide_sales_meta a.swsales_license_tag-valid:before {
	content: "\f147";
}
.sitewide_sales_banner .sitewide_sales_meta a.swsales_license_tag-invalid {
	color: #AAA;
}
.sitewide_sales_banner .sitewide_sales_meta a.swsales_license_tag-invalid:before {
	content: "\f335";
}
.sitewide_sales_admin .sitewide_sales_icon {
	max-width: 200px;
	height: auto;
}

/* Admin Messages */
.sitewide_sales_message,
.form-table td p.sitewide_sales_message {
	background-color: #f7fcfe;
	border-color: #00a0d2;
	border-style: solid;
	border-width: 0 0 0 4px;
	color: #3c434a;
	margin-bottom: 1em;
	padding: 15px;
}
.sitewide_sales_message.sitewide_sales_success,
.form-table td p.sitewide_sales_message.sitewide_sales_success {
	border-color: #c3e6cb;
	background-color: #d4edda;
}
.sitewide_sales_message.sitewide_sales_error,
.form-table td p.sitewide_sales_message.sitewide_sales_error {
    border-color: #f5c6cb;
    background-color: #f8d7da;
}
.sitewide_sales_message.sitewide_sales_alert,
.form-table td p.sitewide_sales_message.sitewide_sales_alert {
    border-color: #ffeeba;
    background-color: #fff8e0;
}
.sitewide_sales_message.sitewide_sales_success a {
    color: #0F441C;
}
.sitewide_sales_message.sitewide_sales_error a {
    color: #721c24;
}
.sitewide_sales_message.sitewide_sales_alert a {
    color: #6C5101;
}
.form-table td .sitewide_sales_message p {
	margin: 0;
}

/* Sitewide Sales Custom Post Type */
.post-type-sitewide_sale input[type=text] {
	width: 88%;
}
.post-type-sitewide_sale textarea {
	line-height: 1.4;
	resize: vertical;
	width: 88%;
	padding: 1rem;
	min-height: 4rem;
}
.post-type-sitewide_sale .form-table tr th small a {
	font-weight: normal;
}
.post-type-sitewide_sale .swsales_banner_css_selectors {
	background: aliceblue;
	padding: 1rem;
	width: 77%;
}

.post-type-sitewide_sale button.swsales-table-trigger-button,
.post-type-sitewide_sale button.swsales-row-trigger-button {
	align-items: center;
	-webkit-appearance: none;
	background: none;
	border: none;
	box-shadow: none;
	box-sizing: border-box;
	color: #2271b1;
	cursor: pointer;
	display: inline-block;
	height: auto;
	margin: 0;
	outline: none;
	padding: 0;
	position: relative;
	text-align: left;
	text-decoration: underline;
	width: auto;
}
.post-type-sitewide_sale button.swsales-table-trigger-button:hover,
.post-type-sitewide_sale button.swsales-row-trigger-button:hover {
	color: #135e96;
}

/* Admin Meta Box */
.post-type-sitewide_sale #swsales_cpt_publish_sitewide_sale .inside {
	margin: 0;
	padding: 0;
}
.post-type-sitewide_sale #swsales_cpt_publish_sitewide_sale .misc-pub-section {
	padding: 0 1em;
}
.post-type-sitewide_sale #swsales_cpt_publish_sitewide_sale .sitewide_sales_message {
	border-width: 0 0 4px 0;
	margin-bottom: 0;
}

/* Documentation Meta Box */
#swsales_documentation.postbox ul li {
	margin-bottom: 15px;
}
#swsales_documentation.postbox ul li:last-child {
	margin-bottom: 0;
}

/* Sitewide Sale Reports Styles */
.swsales_reports-box {
	background: #FFF;
	border: 1px solid #CCC;
	margin: 2rem 0;
	padding: 2rem;
	text-align: center;
}
.post-type-pmpro_sitewide_sale .swsales_reports-box {
	border: none;
	margin: 0;
	padding: 1rem 0 0 0;
}
.swsales_reports-box h1.swsales_reports-box-title {
	color: #999;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin: 0;
	padding: 0;
}
.swsales_reports-box hr {
	margin: 2rem 0;
}
.swsales_reports-data {
	display: grid;
	grid-gap: 1rem;
}
.swsales_reports-data-3col {
	grid-template-columns: 1fr 1fr 1fr;
}
.swsales_reports-data-4col {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.swsales_reports-data-section {
}
.swsales_reports-data-section h1 {
	font-size: 30px;
	line-height: 40px;
	margin: 0;
}
.swsales_reports-daily-revenue-chart {
	clear: both;
	height: 300px; 
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	max-width: 500px;
	width: 100%;
}
.swsales_chart_area {
	background-color: #FFF;
	clear: both;
	margin: 0 0 40px 0;
	padding: 0px 10px 10px 10px;
}
.swsales_chart_area rect[stroke-opacity] {
	stroke-width: 0 !important;
}
.swsales_chart_area #chart_div {
	clear: both;
	height: 500px;
	margin: 0 auto;
	max-width: 1600px;
}

@media screen and (max-width: 768px) {
	.swsales_reports-box {
		margin: 0 1rem;
		padding: 1rem;
	}
	.swsales_reports-box hr {
		margin: .5rem 0;
	}
	.swsales_reports-data {
		display: block;
	}
	.swsales_reports-data-section h1,
	.swsales_reports-data-section p {
		display: inline-block;
		font-size: 18px;
	}
	.swsales_reports-data-section br {
		display: none;
	}
	.swsales_reports-data-section h1:after {
		content: ": ";
	}
}

/* Sitewide Sales About and License Page */
#swsales_cpt_reports .inside {
	margin-top: 0;
	padding: 0;
}
.swsales_reports-quick-data-section:nth-child(odd) {
	background: #f6f7f7;
}
.swsales_reports-quick-data-section {
	border-bottom: 1px solid #dcdcde;
	display: grid;
	grid-template-columns: 2fr auto;
	padding: 1em;
}
.swsales_reports-quick-data-label {
	font-weight: bold;
}
.swsales_reports-quick-data-value {
	text-align: right;
}
.swsales_reports-quick-data-action {
	padding: 1em;
	text-align: center;
}

/* Sitewide Sales About Page */
.swsales-wrap {
	margin: 10px 40px 10px 10px;
	max-width: 850px;
	position: relative;
}	
.swsales-wrap h2 {
	margin-top: 2em;
}
.swsales-wrap p {
	line-height: 1.5;
	font-size:16px;
}
.sitewide_sale_page_sitewide_sales_about .swsales-wrap .sitewide_sales_icon {
	margin-top: 20px;
}
.sitewide_sale_page_sitewide_sales_about .swsales-wrap ul {
	line-height: 1.5;
	font-size: 16px;
}

/* License Page CSS */
.sitewide_sale_page_sitewide_sales_license h2 {
	text-align: left;
}

.sitewide_sale_page_sitewide_sales_license img.swsales_icon{
	height:auto;
	width:250px;
}

@media screen and (max-width: 782px) {
	.sitewide_sales_banner {
		display: block;
	}
	.sitewide_sales_banner .sitewide_sales_logo {
		margin-bottom: 15px;
	}
	.sitewide_sales_banner .sitewide_sales_meta {
		text-align: left;
	}
	.swsales-wrap .swsales-text {
		margin-right: 0;
	}
}
