/* General Banner Styles */
.swsales_banner {
	background: #DADADA;
}
.swsales_banner a.dismiss,
.swsales_banner a.dismiss:active,
.swsales_banner a.dismiss:link,
.swsales_banner a.dismiss:visited {
	text-decoration: none;
}
.swsales_banner a.dismiss:before {
	color: #AAA;
	content: "\2716";
	font: normal 1em/1 Arial, sans-serif;
	text-align: center;
}
.swsales_banner a.dismiss:hover {
	color: #CCC;
}
.swsales_banner h3 {
	margin: 0 0 10px 0;
	padding: 0;
}
.swsales_banner p {
	margin: 0 0 10px 0;
	padding: 0;
}

/* Top Banner Styles */
#swsales_banner_top {
	padding: 1rem;
	text-align: center;
	width: 100%;
}
#swsales_banner_top span {
	margin-right: 2rem;
	font-size: 2rem;
}
#swsales_banner_top h3,
#swsales_banner_top p,
#swsales_banner_top span.swsales_banner-button {
	display: inline;
	margin: 0 1rem;
	padding: 0;
}

/* Bottom Right Banner Styles */
#swsales_banner_bottom_right {
	bottom: 0;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
	padding: 20px;
	position: fixed;
	right: 0;
	max-width: 300px;
	z-index: 400;
}
#swsales_banner_bottom_right .pmpro_btn {
	display: block;
}
#swsales_banner_bottom_right a.dismiss {
	float: right;
}

/* Bottom Banner Styles */
#swsales_banner_bottom {
	bottom: 0;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
	left: 0;
	padding: 20px 0;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 400;
}
#swsales_banner_bottom a.dismiss {
	position: absolute;
	top: 10px;
	right: 10px;
}
#swsales_banner_bottom .swsales_banner-inner {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 3fr 1fr;
	margin: 0 auto;
	max-width: 1170px;
}

#swsales_banner_bottom .swsales_banner-inner-left {
	align-self: center;
}
#swsales_banner_bottom .swsales_banner-inner-right {
	align-self: center;
}
#swsales_banner_bottom .swsales_banner-inner-right .pmpro_btn {
	display: block;
}
@media only screen and (max-width: 767px) {
	#swsales_banner_bottom .swsales_banner-inner {
		display: block;
	}
}

/* Landing Page Templates */
.swsales-landing-page-wrap {  }

/* These should move to specific templates too */
.swsales-landing-page-wrap .swsales-landing-page-background-image {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}
.swsales-landing-page-wrap .swsales-landing-page-content .sws-features {
	display: grid;
	font-size: 1.8rem;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	line-height: 2.9rem;
	margin: 0 auto;
	max-width: 1170px;
	text-align: center;
}
.swsales-landing-page-wrap .swsales-landing-page-content .sws-features p {
	margin: 0 0 1.45rem 0;
	padding: 0;
}


/* Paid Memberships Pro Integration Specific Styles */
.swsales-landing-page-wrap #pmpro_form {
	margin: 0 auto;
	max-width: 1170px;
}
.swsales-landing-page-wrap form#pmpro_form .pmpro_checkout h3 {
	margin: 0;
	padding: 1.45rem;
}
.swsales-landing-page-wrap form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-name {
	margin: 0;
}
.swsales-landing-page-wrap form#pmpro_form .pmpro_checkout .pmpro_checkout-fields {
	margin: 0;
	padding: 1.45rem;
}
