/**
 * Vintage Template for Sitewide Sales
 *
 * Banner Styles 
 */

#swsales-banner-wrap-vintage .swsales-banner {
	background: #1d2a2f url(images/green-dust-and-scratches.png) repeat;
	color: #e5dfbd;
}
#swsales-banner-wrap-vintage .swsales-banner-title {
	color: #e5dfbd;
	font-size: 26px;
	font-weight: 700;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-shadow: 5px 5px 0px rgba( 0,0,0,0.3 );
	text-transform: none;
}
#swsales-banner-wrap-vintage .swsales-banner-content {
	text-shadow: 2px 2px 0px rgba( 0,0,0,0.3 );
}
#swsales-banner-wrap-vintage a.swsales-dismiss:before {
	color: #666;
}
#swsales-banner-wrap-vintage .swsales-banner a.swsales-banner-button,
#swsales-banner-wrap-vintage .swsales-banner a.swsales-banner-button:focus,
#swsales-banner-wrap-vintage .swsales-banner a.swsales-banner-button:visited {
	background: #e5dfbd;
	color: #1d2a2f;
}
#swsales-banner-wrap-vintage .swsales-banner a.swsales-banner-button:hover {
	background: #f4f0d8;
	color: #1d2a2f;
}
#swsales-banner-wrap-vintage #swsales-banner-top .swsales-banner-title {
	margin-right: 10px;
}
#swsales-banner-wrap-vintage #swsales-banner-top .swsales-banner-content {
	margin-right: 10px;
}
