/**
 * Vintage Template for Sitewide Sales
 *
 * Landing Page Styles 
 */

body.swsales-landing-page-vintage {
	background: #000 url(images/green-dust-and-scratches.png) repeat;
	padding: 2.9rem 0;
}
#swsale-landing-page-wrap-vintage {
	margin-top: 0;
}
.swsales-landing-page-vintage .swsales-landing-page-content {
	color: #e5dfbd;
	letter-spacing: 2px;
	margin: 0 2.9rem;
	text-align: center;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.3);
	text-transform: uppercase;
}
.swsales-landing-page-vintage .swsales-landing-page-content a {
	color: #e5dfbd;
}
.swsales-landing-page-vintage .swsales-landing-page-content h1 {
	border-top: 10px double #e5dfbd;
	border-bottom: 10px double #e5dfbd;
	color: #e5dfbd;
	font-family: 'Lobster', sans-serif;
	font-size: 125px;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 120px;
	margin: 40px 0;
	padding: 30px 0 40px 0;
	text-shadow: 10px 10px 0px rgba(0,0,0,0.3);
	text-transform: none;
}
.swsales-landing-page-vintage .swsales-landing-page-content h2 {
	color: #e5dfbd;
	font-weight: 300;
	letter-spacing: 5px;
	line-height: 55px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

/* Paid Memberships Pro Integration Specific Styles */
.swsales-landing-page-vintage #pmpro_form {
	margin: 0 auto;
	max-width: 800px;
}
.swsales-landing-page-vintage #pmpro_form hr {
	display: none;
}
.swsales-landing-page-vintage form#pmpro_form .pmpro_checkout {
	background: #FFF;
	margin: 2rem 0;
}
.swsales-landing-page-vintage form#pmpro_form .pmpro_checkout h3 {
	background: #e5dfbd;
	border: none;
	color: #1d2a2f;
}
.swsales-landing-page-vintage form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-name {
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.swsales-landing-page-vintage form#pmpro_form .pmpro_checkout .pmpro_sslseal {
	text-align: center;
}

/* WooCommerce Integration Specific Styles */
.swsales-landing-page-vintage .woocommerce { 
	background: #FFF;
	border: 10px double #e5dfbd;
	margin: 0 auto;
	max-width: 800px;
	padding: 2.9rem;
}
