/**
 * Ocean Template for Sitewide Sales
 *
 * Landing Page Styles 
 */

html,
body.swsales-landing-page-fancy_coupon,
body.swsales-landing-page-fancy_coupon article {
	background: #4ab1ad;
	height: 100%;
}
#swsales-landing-page-wrap-ocean {
	background: #4ab1ad;
	margin-top: 0;
	padding: 0 0 50px 0;
}
.swsales-landing-page-ocean .swsales-landing-page-content {
	background-color: #f67656;
	padding: 50px 0 0 0;
}
.swsales-landing-page-ocean .swsales-landing-page-content h1,
.swsales-landing-page-ocean .swsales-landing-page-content h3:not(.pmpro_checkout h3),
.swsales-landing-page-ocean .swsales-landing-page-content p:not(.pmpro_checkout p),
.swsales-landing-page-ocean .swsales-landing-page-content a:not(.pmpro_checkout a):not(.woocommerce a) {
	color: #FFF;
	text-align: center;
}
.swsales-landing-page-ocean .swsales-landing-page-content h1 {
	color: #FFF;
	font-family: 'Brush Script MT', cursive;
	font-size: 120px;
	font-weight: 400;
	margin: 15px 0 30px 0;
	padding: 0;
}
.swsales-landing-page-ocean .swsales-landing-page-content h2 {
	margin:  0;
}

/* Paid Memberships Pro Integration Specific Styles */
.swsales-landing-page-ocean div[id^='pmpro_level-'] {
	background: #4ab1ad;
	background-image: url(images/waves-alt.png);
	background-repeat: repeat-x;
	background-position: top left;
	background-size: 100px 100px;
	padding: 100px 0;
}
.swsales-landing-page-ocean #pmpro_form {
	margin: 0 auto;
	max-width: 800px;
}
.swsales-landing-page-ocean form#pmpro_form .pmpro_checkout,
.swsales-landing-page-ocean form#pmpro_form .pmpro_message {
	margin: 0 0 20px 0;
}

.swsales-landing-page-ocean form#pmpro_form .pmpro_checkout-fields,
.swsales-landing-page-ocean form#pmpro_form .pmpro_checkout-fields-display-seal {
	background-color: #FFF;
}
.swsales-landing-page-ocean form#pmpro_form .pmpro_checkout-fields {
	padding: 20px;
}
.swsales-landing-page-ocean form#pmpro_form hr {
	display: none;
}
.swsales-landing-page-ocean form#pmpro_form .pmpro_checkout h3 {
	background: rgba( 255, 255, 255, 0.5);
	border: none;
	margin: 0;
	padding: 15px;
}
.swsales-landing-page-ocean form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-name {
	margin: 0;
}
.swsales-landing-page-ocean form#pmpro_form .pmpro_checkout .pmpro_sslseal {
	text-align: center;
}
.swsales-landing-page-ocean form#pmpro_form .pmpro_submit {
	background: rgba( 255, 255, 255, 0.5);
	padding: 20px;
	text-align: center;
}
.swsales-landing-page-ocean form#pmpro_form #pmpro_processing_message {
	margin: 0;
	text-align: center;
}

/* WooCommerce Integration Specific Styles */
.swsales-landing-page-ocean .woocommerce { 
	background: #4ab1ad;
	background-image: url(images/waves-alt.png);
	background-repeat: repeat-x;
	background-position: top left;
	background-size: 100px 100px;
	padding: 100px 0;
}
.swsales-landing-page-ocean .woocommerce .products { 
	background: rgba( 255, 255, 255, 0.6 );
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}
