/**
 * Neon Template for Sitewide Sales
 *
 * Landing Page Styles 
 */

#swsale-landing-page-wrap-neon {
	-webkit-animation: swsalesNeonAnimatedBackground 80s linear infinite;
	animation: swsalesNeonAnimatedBackground 80s linear infinite;
	background: #000 url(images/darkness.png) repeat;
	padding: 50px 0;
}
#swsale-landing-page-wrap-neon {
	margin-top: 0;
}
.swsales-landing-page-neon .swsales-landing-page-content_pre-sale,
.swsales-landing-page-neon .swsales-landing-page-content_post-sale {
	color: #FFF;
	margin: 50px;
	text-align: center;
}
.swsales-landing-page-neon .swsales-landing-page-content h1,
.swsales-landing-page-neon .swsales-landing-page-content h2:not(.pmpro_checkout h2):not(.woocommerce h2),
.swsales-landing-page-neon .swsales-landing-page-content h3:not(.pmpro_checkout h3),
.swsales-landing-page-neon .swsales-landing-page-content p:not(.pmpro_checkout p),
.swsales-landing-page-neon .swsales-landing-page-content p a:not(.pmpro_checkout a):not(.woocommerce a) {
	color: #FFF;
	text-align: center;
}
.swsales-landing-page-neon .swsales-landing-page-content h1 {
	font-weight: 700;
	margin-top: 0;
	text-align: center;
}
.swsales-landing-page-neon .swsales-landing-page-content h1 {
	-webkit-animation-name: swsalesNeonAnimatedh1;
	animation-name: swsalesNeonAnimatedh1;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	animation-direction: alternate-reverse;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	border: none;
	color: #55f47e;
	font-size: 60px;
	font-style: italic;
	font-weight: 900;
	line-height: 75px;
	letter-spacing: -2px;
	margin: 0;
	padding: 0;
	text-shadow: 0px 0px 15px #BBB;
}
.swsales-landing-page-neon .swsales-landing-page-content h3:not(.pmpro_checkout h3) {
	-webkit-animation-name: swsalesNeonAnimatedh2;
	animation-name: swsalesNeonAnimatedh2;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	animation-direction: alternate-reverse;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	border: none;
	color: #f084e7;
	font-size: 40px;
	font-style: italic;
	font-weight: 900;
	letter-spacing: -2px;
	margin: 0 0 1em 0;
	padding: 0;
	text-shadow: 0px 0px 15px #BBB;
}
@keyframes swsalesNeonAnimatedh1 {
	0%{opacity: 1;}
	2%{opacity: 0;}
	4%{opacity: 1;}
	80%{opacity: 1;}
	82%{opacity: 0;}
	84%{opacity: 1;}
	100%{opacity: 1;}
}
@keyframes swsalesNeonAnimatedh2 {
	0%{opacity: 1;}
	5%{opacity: 0;}
	10%{opacity: 1;}
	15%{opacity: 0;}
	20%{opacity: 1;}
	90%{opacity: 1;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes swsalesNeonAnimatedBackground {
	from { background-position: 0 50%; }
	to { background-position: 100% 0; }
}

/* Paid Memberships Pro Integration Specific Styles */
.swsales-landing-page-neon #pmpro_form {
	margin: 0 auto;
	max-width: 800px;
}
.swsales-landing-page-neon #pmpro_form hr {
	display: none;
}
.swsales-landing-page-neon form#pmpro_form .pmpro_checkout {
	background: #FFF;
	margin: 20px 0;
}
.swsales-landing-page-neon form#pmpro_form .pmpro_checkout h3 {
	background: #0EBFE9;
	border: none;
	color: #FFF;
	padding: 15px;
}
.swsales-landing-page-neon form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-name {
	margin: 0;
}
.swsales-landing-page-neon form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-msg a {
	color: #FFF;
}
.swsales-landing-page-neon form#pmpro_form .pmpro_checkout .pmpro_checkout-fields {
	padding: 15px;
}
.swsales-landing-page-neon form#pmpro_form .pmpro_checkout .pmpro_sslseal {
	text-align: center;
}

/* WooCommerce Integration Specific Styles */
.swsales-landing-page-neon .woocommerce { 
	background: #FFF;
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}
