
/**
 * Fancy Coupon Template for Sitewide Sales
 *
 * Landing Page Styles 
 */

body.swsales-landing-page-fancy_coupon {
	background: #FFCC00;
}
#swsale-landing-page-wrap-fancy-coupon {
	margin-top: 0;
}
#swsale-landing-page-wrap-fancy-coupon .swsales-landing-page-content h1,
#swsale-landing-page-wrap-fancy-coupon .swsales-landing-page-content h2,
#swsale-landing-page-wrap-fancy-coupon .swsales-landing-page-content p {
	color: #FFF;
	text-align: center;
}
#swsale-landing-page-wrap-fancy-coupon .swsales-landing-page-content h1 {
	margin-bottom: 0;
}
.swsales-landing-page-fancy-coupon-coupon {
	margin-bottom: 5.8rem;
	text-align: center;
}
#swsale-landing-page-wrap-fancy-coupon .swsales-landing-page-fancy-coupon-coupon h3 {
	border: 10px dashed #FFF;
	color: #FFF;
	display: inline-block;
	font-size: 60px;
	font-weight: 700;
	line-height: 65px;
	margin: 0 auto;
	padding: 0 5.8rem 1.45rem 5.8rem;
	text-align: center;
}
#swsale-landing-page-wrap-fancy-coupon .swsales-landing-page-fancy-coupon-coupon h3 small {
	font-size: 30px;
}

/* Paid Memberships Pro Integration Specific Styles */
.swsales-landing-page-fancy_coupon #pmpro_form {
	background-color: #FFF;
	margin: 0 auto;
	max-width: 800px;
	padding: 2.9rem;
}

/* WooCommerce Integration Specific Styles */
.swsales-landing-page-fancy_coupon .woocommerce { 
	background-color: #FFF;
	margin: 0 auto;
	max-width: 800px;
	padding: 2.9rem;
}
