
/**
 * Fancy Coupon Template for Sitewide Sales
 *
 * Landing Page Styles 
 */
 
html,
body.swsales-landing-page-fancy_coupon,
body.swsales-landing-page-fancy_coupon article {
	background: #FFCC00;
	height: 100%;
}
#swsales-landing-page-wrap-fancy_coupon {
	background: #FFCC00;
	height: 100%;
	margin-top: 0;
	padding: 40px;
}
#swsales-landing-page-wrap-fancy_coupon .swsales-landing-page-content {
	color: #000;
	display: inline-block;
	width: 60%;
}
#swsales-landing-page-wrap-fancy_coupon .swsales-landing-page-content h1,
#swsales-landing-page-wrap-fancy_coupon .swsales-landing-page-content h2 {
	background: rgba( 255, 255, 255, 0.3 );
	display: inline-block;
	padding: 0 5px;
}

#swsales-landing-page-wrap-fancy_coupon .swsales-landing-page-content h1,
#swsales-landing-page-wrap-fancy_coupon .swsales-landing-page-content h2,
#swsales-landing-page-wrap-fancy_coupon .swsales-landing-page-content p {
	text-align: left;
}
#swsales-landing-page-wrap-fancy_coupon .swsales-landing-page-content h1,
#swsales-landing-page-wrap-fancy_coupon .swsales-landing-page-content h2 {
	margin: 0;
}
.swsales-landing-page-fancy_coupon-coupon {
	position: fixed;
	top: 40px;
	right: 40px;
	width: 35%;
}
.admin-bar .swsales-landing-page-fancy_coupon-coupon {
	top: 80px;
}
#swsales-landing-page-wrap-fancy_coupon .swsales-landing-page-fancy_coupon-coupon h3 {
	border: 8px dashed #000;
	color: #000;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	margin: 0 auto;
	padding: 10px 10px 20px 10px;
	text-align: center;
}
#swsales-landing-page-wrap-fancy_coupon .swsales-landing-page-fancy_coupon-coupon h3 small {
	font-size: 25px;
}

/* Paid Memberships Pro Integration Specific Styles */
.swsales-landing-page-fancy_coupon #pmpro_form {
	background-color: #FFF;
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}

/* WooCommerce Integration Specific Styles */
.swsales-landing-page-fancy_coupon .woocommerce { 
	background-color: #FFF;
	margin: 0 auto;
	padding: 40px;
}

