/**
 * Photo Template for Sitewide Sales
 *
 * Banner Styles 
 */

#swsales-banner-wrap-photo .swsales-banner {
	background: rgba( 0, 0, 0, 0.5 );
	color: #FFF;
	transition: background 1s ease;
}
#swsales-banner-wrap-photo .swsales-banner:hover {
	background: rgba( 0, 0, 0, 0.8 );
}
#swsales-banner-wrap-photo #swsales-banner-top {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
}
#swsales-banner-wrap-photo #swsales-banner-top .swsales-banner-title {
	margin-right: 10px;
}
#swsales-banner-wrap-photo #swsales-banner-top .swsales-banner-content {
	margin-right: 10px;
}
#swsales-banner-wrap-photo #swsales-banner-bottom {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
}
#swsales-banner-wrap-photo #swsales-banner-bottom-right {
	border-top-left-radius: 20px;
}
