/**
 * Photo Template for Sitewide Sales
 *
 * landing Page Styles 
 */

body.swsales-landing-page-photo {
	background: #FAFAFA;
	padding: 0 0 5.8rem 0;
}
#swsale-landing-page-wrap-photo {
	margin: 0;
}
#swsale-landing-page-wrap-photo .swsales-landing-page-background-image {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2.9rem .9rem 12.9rem .9rem;
}
#swsale-landing-page-wrap-photo .swsales-landing-page-content {
	background: rgba( 0, 0, 0, 0.5 );
	border-radius: 40px;
	color: rgba( 255, 255, 255, 0.9);
	margin: 0 auto;
	max-width: 1170px;
	padding: 2.9rem 0;
	text-align: center;
	text-shadow: 0px 0px 5px #000;
	transition: background 1s ease;
}
#swsale-landing-page-wrap-photo .swsales-landing-page-content:hover {
	background: rgba( 0, 0, 0, 0.8 );
}
#swsale-landing-page-wrap-photo .swsales-landing-page-content h1 {
	border-bottom: 1px solid #333;
	color: #FFF;
	display: inline-block;
	font-size: 4.8rem;
	font-weight: 900;
	line-height: 7.5rem;
	margin: 0 0 2.9rem 0;
	padding: .9rem;
}
#swsale-landing-page-wrap-photo .swsales-landing-page-content h3 {
	color: #FFF;
	margin:  0;
}

/* Paid Memberships Pro Integration Specific Styles */
.swsales-landing-page-photo #pmpro_form {
	background: #FAFAFA;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10rem;
	max-width: 800px;
	padding: 2.9rem;
}
.swsales-landing-page-photo #pmpro_form hr {
	display: none;
}
.swsales-landing-page-photo #pmpro_form .pmpro_checkout {
	background: #FAFAFA;
}

/* WooCommerce Integration Specific Styles */
.swsales-landing-page-photo .woocommerce { 
	background: #FAFAFA;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10rem;
	max-width: 800px;
	padding: 2.9rem;
}
