/**
 * Scroll Template for Sitewide Sales
 *
 * Landing Page Styles 
 */

#swsale-landing-page-wrap-scroll {
	background: #E4E3DF;
	margin-top: 0;
	padding: 0 0 50px 0;
}
#swsale-landing-page-wrap-scroll .swsales-landing-page-background-image {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 20px 10px 100px 10px;
}
#swsale-landing-page-wrap-scroll .swsales-landing-page-content {
	overflow: hidden;
	padding: 0;
}
.swsales-landing-page-scroll .swsales-landing-page-content h1,
.swsales-landing-page-scroll .swsales-landing-page-content h2:not(.pmpro_checkout h2),
.swsales-landing-page-scroll .swsales-landing-page-content h3:not(.pmpro_checkout h3),
.swsales-landing-page-scroll .swsales-landing-page-content p:not(.pmpro_checkout p),
.swsales-landing-page-scroll .swsales-landing-page-content a:not(.pmpro_checkout a) {
	text-align: center;
}
#swsale-landing-page-wrap-scroll .swsales-landing-page-content h1:not(.pmpro_checkout h1) {
	animation: swsalesScrollSlideIn 1s;
	font-weight: normal;
	margin: 20px 20px 0 20px;
}
#swsale-landing-page-wrap-scroll .swsales-landing-page-content h3:not(.pmpro_checkout h3) {
	animation: swsalesScrollFadeIn 3s;
	font-weight: normal;
	margin: 20px;
}
@keyframes swsalesScrollSlideIn {
	from {
		margin-left: 100%;
		width: 300%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}
@keyframes swsalesScrollFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Paid Memberships Pro Integration Specific Styles */
.swsales-landing-page-scroll #pmpro_form {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}
.swsales-landing-page-scroll #pmpro_form hr {
	display: none;
}
.swsales-landing-page-scroll #pmpro_form .pmpro_checkout {
	background: #FFF;
	border: 1px solid #CCC;
	margin-bottom: 20px;
}
.swsales-landing-page-scroll form#pmpro_form .pmpro_checkout h3 {
	background: none;
	border: none;
	margin: 0;
	padding: 20px 20px 0 20px;
}
.swsales-landing-page-scroll #pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-name {
	letter-spacing: 1px;
	text-transform: uppercase;
}
.swsales-landing-page-scroll form#pmpro_form .pmpro_checkout .pmpro_checkout-fields {
	padding: 0 20px;
}

.swsales-landing-page-scroll form#pmpro_form #pmpro_billing_address_fields .pmpro_checkout-fields,
.swsales-landing-page-scroll form#pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields{
	margin-top: 20px;
}

/* WooCommerce Integration Specific Styles */
.swsales-landing-page-scroll .woocommerce { 
	background: #FFF;
	border: 1px solid #CCC;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding: 20px;
}
